* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    /* background: linear-gradient(100deg, #71b7e6, #9b59b6 , rgb(186, 118, 212) , rgb(100, 141, 175)); */
    background:url("back2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    background: rgba(43, 27, 27, 0.5);
    padding: 20px;
    margin-top: 80px;
    box-sizing: border-box;
}

h1 {
    color:rgb(255, 255, 255);
    text-align: center;
    padding: 5px;
    background-color: rgba(36, 37, 10, 0.418);
}

h2 {
    text-align: center;
    margin: 10px;
    font-size: 2em;
    font-weight: bold;
    color: rgb(8, 207, 42);
    /* font-family: sans-serif; */
}

label {
    font-size: 1.5em;
    font-weight: 600;
    color: rgb(175, 218, 21);
}

.in {
    float: inline-start;
    width: 500px;
    border-radius: 5px;
    margin: 10px;
    height: 2em;
    font-size: larger;
    padding: 5px;
}

.inner {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.start_end {
    display: flex;
    flex-direction: row;
    margin-right: 20px;

}

.start , .end {
    display: flex;
    flex-direction: column;

}

input:hover {
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
     0 0  0 2px rgb(255,255,255),
     0.3em 0.3em 1em rgba(0,0,0,0.3);
}

/* #btn {
    display: flex;
    justify-content: center;
} */

.btns {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btns{
    height: 30px;
    width: 80px;
    border-radius: 10px;
    font-size: larger;
    font-weight: 600;    
    margin: 10px;
}

.btn:hover
{
    background-color: blue;
    color: bisque;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
     0 0  0 2px rgb(255,255,255),
     0.3em 0.3em 1em rgba(0,0,0,0.3);
}


/* main css */


/* img {
    height:100px;
    width: 100px;
    border-radius: 50%;
} */

header {
    /* font-size: 150%; */
    font: normal;
    margin: 20px;
    position: relative;
    top: 10%;
    margin-bottom: 50px;
}


/* #img_div {
    height: 100px;
    width: 100px;
    margin: 20px;
}

#head_div  {
    display:flex;
    flex-direction: row;
} */

/* header h1 , h3 {
    color: antiquewhite;
} */

nav {
    background-color: rgba(250, 235, 215, 0.712);
    margin: 20px;
    border-radius: 10px;
}

#nav_bar li {
    display:inline-flex;
    flex-direction: row;
    margin: 5px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 20%;
    background-color:rgba(127, 255, 212, 0.623);
    color: black;
    font-weight: bold;
    font-size: 20px;
}

nav a {
    color: black;
}

a {
    text-decoration: none;
    color: antiquewhite;
}

a:hover {
    color: rgb(62, 62, 119);
}

#page_foot {
    margin: 20px 20px 0;
    padding: 12px;
    width: -webkit-fill-available;
    background-color: rgba(153, 205, 50, 0.527);
    font-weight: 800;
    color: antiquewhite;
    text-align: center;
    font-size: large;
    position: relative;
    bottom: 10%;
}
